{% comment -%}
이 모듈이 생성하는 변수:

TABLE_OF_CONTENTS
  Ul.toc 전체 문서 목차. _data/toc.yml 에서 정의

{% endcomment -%}

{% capture TABLE_OF_CONTENTS %}
<ul>
{% for toc in site.data.toc -%}
{%   assign chapter_url = "/" | append: toc[0] | append: "/" -%}
{%   assign chapter_doc = site.html_pages | where: 'dir', chapter_url | first -%}
<li class="toc-1"><a href="{{ chapter_url | absolute_url }}">{{ chapter_doc.title }}</a> 
  <ul>
{%   for doc_name in toc[1] -%}
{%     assign doc_slug = doc_name | slugify -%}
{%     assign doc_url = chapter_url | append: "#" | append: doc_slug -%}
{%     assign doc_path = chapter_url | append: doc_name | append: "/" -%}
{%     assign doc = site.html_pages | where: 'dir', doc_path | first -%}
    <li class="toc-2"><a href="{{ doc_url | absolute_url }}">{{ doc.title }}</a></li>
{%   endfor -%}
  </ul>
</li>
{% endfor -%}
{% comment -%} 종이책 버전 {% endcomment %}
{% assign textbook_dir = "/" | append: site.docsurl | append: "TEXTBOOK" | append: "/" -%}
{% assign textbook_doc = site.html_pages | where: 'dir', textbook_dir | first -%}
<li class="toc-1">
  <a href="{{ site.docsurl | append: "TEXTBOOK" | absolute_url }}">{{ textbook_doc.title }}</a>
</li>
{% comment -%} 버전 기록 {% endcomment %}
{% assign changes_dir = "/CHANGES/" -%}
{% assign changes_doc = site.html_pages | where: 'dir', changes_dir | first -%}
<li class="toc-1">
  <a href="{{ "/CHANGES" | absolute_url }}">{{ changes_doc.title }}</a>
</li>
</ul>  
{% endcapture -%}
