@import "normalize";
@import "sass-material-colors";
@import url("//cdn.jsdelivr.net/gh/snz-hayden/toolo/fonts/notosans_kr/notosans_kr_ver2.css");
@import url("//cdn.jsdelivr.net/npm/@openfonts/nanum-gothic-coding_korean@1.44.1/index.min.css");

:root {
  --background-color: #{material-color("grey", "50")};
  --header-color: #{material-color("blue-grey", "1000")};
  --text-color: #{material-color("grey", "900")};
  --sub-text-color: #{material-color("grey", "800")};
  --link-color: #{material-color("grey", "700")};

  --button-background-color: #{material-color("teal", "500")};
  --button-hover-background-color: #{material-color("teal", "600")};
  --button-text-color: #{material-color("grey", "50")};

  --image-background-color: #{material-color("blue-grey", "50")};
  --table-background-color-odd: #{material-color("blue-grey", "100")};
  --table-background-color-even: #{material-color("blue-grey", "50")};
  --blockquote-background-color: #{material-color("teal", "50")};
  --blockquote-border-color: #{material-color("teal", "100")};
  --ui-mark-color: #{material-color("teal", "500")};

  --sidebar-toc1-background-color: #{material-color("blue-grey", "50")};

  @media (prefers-color-scheme: dark) {
    --background-color: #{material-color("grey", "900")};
    --header-color: #{material-color("grey", "50")};
    --text-color: #{material-color("grey", "400")};
    --sub-text-color: #{material-color("grey", "500")};
    --link-color: #{material-color("grey", "50")};

    --button-background-color: #{material-color("teal", "500")};
    --button-hover-background-color: #{material-color("teal", "600")};
    --button-text-color: #{material-color("grey", "50")};

    --image-background-color: #{material-color("blue-grey", "800")};
    --table-background-color-odd: #{material-color("blue-grey", "800")};
    --table-background-color-even: #{material-color("blue-grey", "900")};
    --blockquote-background-color: #{material-color("teal", "900", 0.5)};
    --blockquote-border-color: #{material-color("teal", "800")};
    --ui-mark-color: #{material-color("teal", "500")};

    --sidebar-toc1-background-color: #{material-color("blue-grey", "900")};
  }
}

@import "webkit";
@import "sidebar";
@import "codeblock";

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
}
code {
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 0.9em;
  padding: 0.2em;
  border-radius: 0.2em;
  li & {
    background-color: var(--table-background-color-odd);
  }
}
a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
a.button {
  display: inline-flex;
  align-items: center;
  padding: 0.1em 0.5em;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  border-radius: 2px;
  font-weight: bold;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  &:hover {
    background-color: var(--button-hover-background-color);
    text-decoration: none;
  }
}

header {
  background-color: var(--background-color);
}
@media screen and (max-width: 999px) {
  header {
    background-color: var(--image-background-color);
  }
}
aside#toc-sidebar {
  background-color: var(--background-color);
}

article {
  h1,
  h2,
  h3 {
    color: var(--header-color);
  }
  h1 {
    border-bottom-color: var(--text-color);
  }
  img {
    background-color: var(--image-background-color);
    @media (prefers-color-scheme: light) {
      filter: brightness(110%) contrast(90%);
    }
    @media (prefers-color-scheme: dark) {
      filter: brightness(90%) contrast(110%);
    }
    & + .alt-text {
      color: var(--sub-text-color);
    }
  }
  blockquote {
    border-left-color: var(--blockquote-border-color);
  }
  ol {
    li strong {
      color: var(--ui-mark-color);
    }
    li:not(.task-list-item)::before {
      color: var(--ui-mark-color);
    }
  }
  ul {
    li:not(.task-list-item)::before {
      color: var(--ui-mark-color);
    }
    li strong {
      color: var(--ui-mark-color);
    }
  }
  table:not(.rouge-table) {
    tbody tr {
      &:nth-child(odd) {
        background-color: var(--table-background-color-odd);
      }

      &:nth-child(even) {
        background-color: var(--table-background-color-even);
      }
    }
  }
}
footer {
  padding: 1em;
  margin-top: 1em;
  margin: auto;
}

@import "content";
@import "layout";
@import "print";
