@import 'sass-material-colors';

$sidebar-width: 250px;

main {
    transition: margin 0.3s;
    &.open-sidebar {
        margin-left: $sidebar-width;
    }
}
aside#toc-sidebar {
    padding: 0;
    width: $sidebar-width;
    left: -$sidebar-width;
    height: 100vh;
    position: fixed;
    transition: left 0.3s;
    &.active {
        left: 0px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 0;
            a {
                display: block;
                padding: 0.5rem 0.5rem;
                color: var(--link-color);
                font-weight: bold;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        li.toc-1>a{
            background-color: var(--sidebar-toc1-background-color)
        }
    }
}

#sidebar-toggle-button {
    text-decoration: none;
    font-size: 2em;
}