<!DOCTYPE html>
<html lang="ko">
{% include head.html -%}
<body>
{% if page.url == "/" -%}
<main id="main-contents">
{% else -%}
<main id="main-contents" class="open-navgation">
{% endif -%}
    {% include header.html -%}
    {% include nav.html -%}
    <div id="content-warpper">
        <article id="article">{{ CONTENT }}</article>
        <hr>
        {% include footer.html -%}
    </div>
    <div id="image-modal-warpper" class="modal">
        <img class="modal-content" id="image-modal">
        <div id="modal-caption"></div>
    </div>
</main>
</body>
</html>